@import-normalize; /* bring in normalize.css styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a,
p,
h1,
h2,
h3,
span,
button,
input {
  font-family: 'Monrope', sans-serif;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1050px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
::-webkit-calendar-picker-indicator {
  background-color: none;
  color: transparent;
}
input::-webkit-datetime-edit-fields-wrapper {
  background-color: #f7f7f7; /* Змініть колір за потребою */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Встановлюємо зовнішній відступ на 0 */
}

select {
  -webkit-appearance: none; /* Сховати стрілку для Safari */
  -moz-appearance: none; /* Сховати стрілку для Firefox */
  appearance: none; /* Сховати стрілку для інших браузерів */
  /* Додаткові стилі, які ви бажаєте застосувати */
}
